1. Power of number

    Write a function `power` that takes a number `x` and returns either its square, cube, or any power based on a keyword argument `exp`. If `exp` is not provided, use square (default = 2).

    
    Input: power(5)                      
    Output: 25

    Input: power(5, exp=3)  
    Output: 125

In [2]:
def power(n , exp=2):
    return n ** exp

print(power(3))  # Default exponent of 2
print(power(3, 3))  # Exponent of 3

9
27

2. Keyword arguments statement print

    Write a function that introduces a person with name, age, and city. Use *keyword arguments*.

    Input:
    `name`="abc", `city`="xyz", `age`=123

    Output:
    My name is abc, I am 123 years old, and I live in xyz.

In [15]:
def printPerson(name, city,age):
    #print(f"Name: {name}, City: {city}, Age: {age}")
    print(f"My name is {name}, I am {age} years old and I live in {city}.")
    

printPerson("Alice", "New York", 30)

My name is Alice, I am 30 years old and I live in New York.

3. Sum and mean

    Write a function that takes a list of numbers and returns both the sum and the mean.

    Input: [10, 20, 30]   
    Output: Sum = 60, Mean = 20

In [18]:
import numpy as np
input=[10,20,30]
print(np.mean(input) , sum(input));

20.0 60

4. Write a function that prints a multiplication table of a given number.

    Input: 5    
    Output:

    5 * 1 = 5

    5 * 2 = 10

    5 * 3 = 15
    ...

    5 * 10 = 50

In [24]:
def table(n):
    for i in range(1,11):
        print(f"{n} * {i} = {n*i}")
        #print(f"pravin  {i}")
        
table(5)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

5. Write a function `normalize_list` that takes a list of positive numbers and normalizes them so that all values are scaled down between 0 and 1, and the sum of the list is 1. Modify the list in-place and return nothing.


    Input: [1, 4, 5]                
    Output: [0.1, 0.4, 0.5]

    Input: [1, 3, 4, 8]             
    Output: [0.0625, 0.1875, 0.25, 0.5]

In [ ]:
L=[1,3,4,8]
def normal(l):
    sum_value = sum(l)
    for i in range(len(l)):
        l[i] = l[i] / sum_value
    
    return l
print(normal(L))

def normalise(l):
    sum_value = sum(l)
    return [x / sum_value for x in l]

print(normalise(L)==normal)

[0.0625, 0.1875, 0.25, 0.5]
False
None